.text__h2text_benef{
    font-size: 36px;
    line-height: 60px;
}

.text__h2text_benef::after{
    content: "";
    display: block;
    max-width: 60px;
    box-sizing: border-box;
    border: 3px solid #FFA501;
    margin: 25px 0 60px 0;
    position: relative;
    left: 45%;
}